{% if user.is_authenticated %}
Hello, {{ user.username }}
{% else %}
<li><a href="{%url 'login'%}">Sign In<a></li>
<li><a href="{%url 'signup'%}">Sign Up<a></li>
{% endif %}
<br>
{% if posts_list %}
    <ul>
    {% for UserText in posts_list %}
        <li>{{ UserText.text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Posts are available.</p>
{% endif %}
<br>
{% if user.is_authenticated %}

<label for="your_name">Your Post: </label>
 <form action="/wall" method="post" >{% csrf_token %}
    <input type="text" name="text">
    <input type="submit" value="Write">
</form>
<br>
<li><a href="{%url 'logout'%}">Logout<a></li>
{% endif %}